*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
}

.card{
  margin-top:50px;
  width:71vw;
  display:flex;
  justify-content: flex;
  justify-content: space-around;
  background-size: cover;
}

.card-header{
  font-size: calc(40px + 2vmin);
  color: rgb(241,241,241);
}

.formulario{
  background-color: #e4dada;
  width:40vw;
  margin-left:250px;
  padding-left:40px ;
  padding-right: 40px;
  color: black;
  margin-bottom:10px;
  padding-bottom: 10px;
}

.btn-secondary{
  margin-left:20px;
}

.formulario h3{
  color: #2d2564;
  text-align: 40vw;
  margin-letf: 40px;
  padding-left: 40px;
  padding-right: 400px;
  color: #211f1f;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.btn-secondary{
  margin-left: 20px;
}

.formulario h3{
  color:#211f1f;
  text-align: center;
  padding: 10px;
  font-size: 25px;
  margin: 20px;
}

.formulario .info{
  margin-bottom: 20px;
  color:#211f1f;
  font-weight: bold;
  text-align: left;
}

.info input{
  display:block;
  width: 100%;
  border:none;
  border-bottom: 1px solid #e4dada ;
  padding:5px;
  outline: none;
  background-color: #e4dada;
}

.lista{
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.App {
  text-align: center;
}
