.registro {
  text-align: center;
}

body{
  background-color: #728239;
}
*{
  margin: 0;
  padding: 0;
}

.card{
  margin-top: 50px;
  width: 71vw;
  display: flex;
  justify-content: space-around;
  background-color: #728239;
}

.card-header{
  font-size: calc(40px + 2vmin);
  color: #272c0c;
}

.formulario{
  background-color: #bbc46b;
  width: 40vw;
  margin-left: 250px;
  padding-left: 40px;
  padding-right: 40px;
  color: #272c0c;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.btn-secondary{
  margin-left: 20px;
}
.formulario h1{
  color: #272c0c;
  text-align: center;
  padding: 10px;
  font-size: 25px;
  margin: 20px;
}

.formulario .info{
  margin-bottom: 20px;
}

.info label{
  display: block;
  color: #272c0c;
  font-weight: bold;
 text-align: left; 
}

.info input{
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(10, 0, 0);
  padding: 5px;
  outline: none;
  background-color: #eef1d3;
}

.lista{
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
